<!DOCTYPE html>
<%# Type: static
		Catorgory: info %>
<html lang="en-US">

<head>
	<title>Clutter -- About</title>
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<h1>About</h1>
		This website is a project by <a href="//scratch.mit.edu/users/Steve0Greatness">@Steve0Greatness</a>, but if you'd like to help, feel free to... <a href="//github.com/Steve0Greatness/clutter">please</a>.
		<h2>Packages</h2>
		These packages are packages for <a href="//nodejs.com"><img src="https://nodejs.org/static/images/favicons/favicon.ico" width="16" height="16">NodeJS</a>. I'll try to use their docs sites, but if they don't have one, then I'll link to their <a href="//npmjs.com"><img src="https://static.npmjs.com/b0f1a8318363185cc2ea6a40ac23eeb2.png" width="16" height="16">NPM</a> pages.
		<table class="viewTable">
			<thead>
				<tr>
					<th>Name</th> <th>Desc</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="//expressjs.com"><img src="https://expressjs.com/images/favicon.png" width="16" height="16">Express</a></td> <td>One of, if not the most used server hosting NodeJS packages. It's easier then <a href="https://nodejs.org/api/http.html">HTTP</a></td>
				</tr>
				<tr>
					<td><a href="//ejs.co"><img src="https://ejs.co/favicon.svg" width="16" height="16">EJS</a></td> <td>Lets you create template pages, or pages that can be effected by the backend.</td>
				</tr>
				<tr>
					<td><a href="//www.npmjs.com/package/serve-favicon">serve-favicon</a></td> <td>Uses Caching to tell the browser that the page <span class="code">/favicon.ico</span> is whatever ico file from whatever folder you want</td>
				</tr>
				<tr>
					<td><a href="//nodejs.org/api/path.html">Path</a></td> <td>Allows you to do things with paths/to/files</td>
				</tr>
				<tr>
					<td><a href="//blog.replit.com/database"><img src="https://replit.com/public/icons/favicon-196.png" width="16" height="16">Replit Database</a></td> <td>It lets you create a database in <a href="//replit.com">Replit</a></td>
				</tr>
				<tr>
					<td><a href="//www.npmjs.com/package/body-parser">body-parser</a></td> <td>Node.js body parsing middleware</td>
				</tr>
				<tr>
					<td><a href="//www.npmjs.com/package/less-middleware"><img src="https://lesscss.org/public/ico/favicon.ico" width="16" height="16">less-middleware</a></td> <td>Compiles <a href="//lesscss.org/"><img src="https://lesscss.org/public/ico/favicon.ico" width="16" height="16">Less</a></td>
				</tr>
				<tr>
					<td><a href="https://www.npmjs.com/package/cors">Cors</a></td> <td>Allows the use of <a href="https://developer.mozilla.org/en-US/docs/Glossary/CORS">cors</a> in Express</td>
				</tr>
				<tr>
					<td><a href="https://www.npmjs.com/package/request">Request</a></td> <td>Allows the server to retreve data from webpages.</td>
				</tr>
			</tbody>
		</table>
		<h2>Base</h2>
		<p><a href="https://en.scratch-wiki.info/wiki/Clutter">Clutter</a> was a cool little project by the Scratch Team that let you put projects into a playlist, for people to view easily. It was shut down late 2012. There were 3 kinds of Clutters, story; where the user gets to chose when the project goes forward or backword, or have the creator force it by broudcasting -&gt; and &lt;-, it's currently the only available Clutter type here; link; The creator determines words words that link to projects, and the user has to type them out, the creator can also travel between projects by broudcasting -&gt;:project name:, not available; and secret word; where the user has to type in a secret word to determines where the are, not available.</p>
		<h2>Scratch 3rd Party</h2>
		To authenticate users, this uses <a href="https://github.com/hamptonmoore/FluffyScratch/">fluffyscratch</a>.<br>
		<a href="//turbowarp,org">Turbowarp</a> was used to embed projects.
		<h2>Contributers</h2>
		Check the <a href="https://allcontributors.org/docs/en/emoji-key" title="Emojis to see what people contributed to the project">Emoji Key</a> docs to see what the emojies below mean.<br>
		This is for contributers on the <a href="https://github.com/Steve0Greatness/Clutter">Github Repo</a>.
		<table id="contributers">
			<thead>
				<tr>
					<th>User</th>
					<th>Contributes</th>
				</tr>
			</thead>
		<%# contributers %>
		<% contr.forEach(element => { %>
			<tr>
				<td>
					<h1>
						<a href="<%- element["info"]["link"] -%>">
							<img src="<%- element["info"]["avartar"] -%>" width="24" alt="<%- element["info"]["name"] -%>">
							<%- element["info"]["name"] -%>
						</a>
					</h1>
				</td>
				<td>
					<%- element["contributes"] -%>
				</td>
			</tr>
		<% }) %>
		</table>
		<h2>Images</h2>
		<ul>
			<li>All logos including <a href="clutterIcon.svg">clutterIcon.svg</a>, <a href="/img/clutterMask.svg">clutterMask.svg</a>, <a href="/img/clutterThumb.svg">clutterThumb.svg</a>, <a href="/img/favicon.ico">favicon.ico</a>, and <a href="/img/logo.svg">logo.svg</a> were inspired by the Scratch logo.</li>
			<li>The 404 page has an edited image of the taco wizard from the Scratch costume library, called <a href="/img/errors/Dark-Taco.svg">Dark-Taco.svg</a></li>
			<li>Internal Server Issues' image called <a href="/img/errors/Ghosty.svg">Ghosty.svg</a> is from <a href="https://openmoji.org/">openmoji</a></li>
			<li>The 403 error page's image, <a href="/img/errors/BlueBird.jpeg">BlueBird.jpeg</a>, is from <a href="https://en.wikipedia.org/">Wikipedia</a>'s page about the <a href="https://en.wikipedia.org/wiki/Mountain_bluebird">mountain bluebird</a> </li>
		</ul>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>