<!DOCTYPE html>
<%# Type: dynamic
		Catorgory: clutter %>
<html lang="en-US">

<head>
	<title>Clutter -- <%= cName %></title>
	<meta name="description" content="<%- cName -%> on Clutter">
	<meta name="title" content="Clutter -- <%- cName -%>">
	<%- include("headTag") -%>
	<%- include("socialClutters") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<div id="creatorandcluttername">
			<a href="/users/<%- creator -%>"><img src="/api/users/<%- creator -%>/avartar.png" width="55" align="left"></a><h1 id="clutterName"><%- cName -%></h1><br>
			<a href="/users/<%- creator -%>"><%- creator -%></a>
		</div>
		<% if (remix) { %>
		<div id="remixedfrom">
			Remixed from <a href="/clutters/<%- original -%>"><%- originalName -%></a> by <a href="/users/<%- originalCreator -%>"><%- originalCreator-%></a>
		</div>
		<% } %>
		<%- include("player") -%>
		<div id="data">
			<span id="date"><%- dateP -%></span>
			<span id="views"><img><%- views -%></span>
		</div>
		 <a href="/edit/<%= id %>"><button>See Inside</button></a> <button onclick="embedDispaly('block')">Share</button> <button onclick="report()" class="report">Report</button><br>
		<input type="text" id="commentBox" maxlength="200"> <button onclick="postComment()">Submit</button>
		<div id="comments">
			<% for (let i = 0; i < comments.length; i++) { %>
			<div class="comment">
				<div class="commentUser"><a href="/users/<%- comments[comments.length - (i + 1)].user -%>"><%- comments[comments.length - (i + 1)].user -%></a></div>
				<%- comments[comments.length - (i + 1)].body -%>
			</div>
			<% } %>
		</div>
	</div>
	<div id="embed">
		<div style="text-align:right"><button class="xOut" onclick="embedDispaly('none')">X</button></div>
		<details open>
			<summary>Link</summary>
			<input type="text" onclick="copy(this)" id="myLink" value="https://clutter.stevesgreatness.repl.co/clutters/<%- id -%>"><br>
			<button onclick="copy(document.getElementById('myLink'))">Copy Link</button>
		</details>
		<details>
			<summary>Embed</summary>
			<input value="<iframe src='https://clutter.stevesgreatness.repl.co/embed/<%- id -%>' width='700' height='450'></iframe>" readonly id="embedHTML"><br><button onclick="copyText(document.getElementById('embedHTML'))">Copy HTML</button><br>
			options<br>
			<form onchange="updateLink()">
				<input type="checkbox" id="hideclutter">Remove link to Clutter<br>
				<input type="checkbox" id="hidescratch">Remove link to Scratch<br>
				<input type="checkbox" id="hideturbowarp">Remove link to Turbowarp<br>
				<input type="checkbox" id="autoplay">Enable autoplay
			</form>
		</details>
	</div>
	<%- include("footer") -%>
	<script src="/script.js"></script>
	<script>
		//render
		var projects = <%- JSON.stringify(proj) -%>;
		function start() {
			document.getElementById("iframe").outerHTML = "<iframe width=\"485\" height=\"402\" id=\"iframe\" align=\"left\" src></iframe>"
			document.getElementById("layerOntopOfPlayer").outerHTML = ""
			renderClutter(projects)
			fetch("/post/clutterStarted", { 
				method: "PUT",
				headers: { 'Content-Type':'application/json' },
				body: JSON.stringify({ id: <%- JSON.stringify(id) -%> })
			})
				.then(res => res.text())
		}
		document.getElementById("playerI").addEventListener("click", () => { start() })

		//report
		function report() {
			fetch("/post/clutterReport", {
				method: "PUT",
				headers: { 'Content-Type':'application/json' },
				body: JSON.stringify({ id: <%- JSON.stringify(id) -%> })
			})
				.then(res => res.text())
			document.getElementsByClassName("report")[0].setAttribute("onclick", "alert('Warning!'); alert('Commiting this action of fraud with void your warranty.'); confirm('Are you sure you want to do this?'); alert(`It doesn't really matter; I was going to not allow you to anyway.`); this.setAttribute(\"onclick\", \"alert('Are you serious?'); alert('NO!');\")")
		}

		//embed
		function embedDispaly(value) {
			document.getElementById("embed").style.display = value
		}

		function updateLink() {
			var options = []
			console.log("updating")
			if (document.getElementById("hideclutter").checked) {
				options.push("hideclutter")
				console.log("clutterless")
			}
			if (document.getElementById("hidescratch").checked) {
				options.push("hidescratch")
				console.log("scratchless")
			}
			if (document.getElementById("hideturbowarp").checked) {
				options.push("hideturbowarp")
				console.log("turbowarpless")
			}
			if (document.getElementById("autoplay").checked) {
				options.push("autoplay")
				console.log("auto")
			}
			document.getElementById("embedHTML").value = `<iframe src='https://clutter.stevesgreatness.repl.co/embed/<%- id -%>?${options.join("&")}' width='700' height='450'></iframe>`
		}

		//text coping
		function copyText(element) {
			selectTxt(element)
			document.execCommand("copy")
		}
		function selectTxt(element) {
			element.select()
			element.setSelectionRange(0, 99999)
		}

		//comment sending
		async function postComment() {
			checkLogin()
			if (localStorage.getItem("user") == null|undefined) {
				alert("You need to be loged in to post comments")
				return;
			}
			if (document.getElementById("commentBox").value == "") { return; }
			let poster = await checkLogin()
			let body = {
				for: <%- id -%>,
				user: poster,
				body: document.getElementById("commentBox").value
			}
			fetch("/post/comment", {
				method: 'PUT', 
				headers: { 'Content-Type':'application/json' },
				body: JSON.stringify(body)
			})
				.then(res => res.text())
				.then(body => {
					document.getElementById("commentBox").value = ""
					document.getElementById("comments").innerHTML = body + document.getElementById("comments").innerHTML
				})
		}
	</script>
	<!--<div class="comment">
				<div class="commentUser"><a href="/users/<user>"><user></a></div>
				<body>
			</div>-->
</body>

</html>