<!DOCTYPE html>
<html lang="en-US">

<head>
	<link rel="stylesheet" href="/style.css">
	<title>Clutter -- <%= cName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%- cName -%> on Clutter">
	<meta name="title" content="Clutter -- <%- cName -%>">
	<meta name="theme-color" content="#5555ff">
	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/clutterIcon.png">
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<a href="/users/<%- creator -%>"><%- creator -%></a>
		<h1><%- cName -%> </h1>
		<% if (remix) { %>
		Remixed from <a href="/clutters/<%- original -%>"><%- originalName -%></a> by <a href="/users/<%- originalCreator -%>"><%- originalCreator-%></a>
		<% } %>
		<%- include("player") -%><br>
		<span id="date">
			<%- dateP -%>(PST)
		</span> <a href="/edit/<%= id %>"><button>See Inside</button></a><br>
		<input type="text" id="commentBox"></input> <button>Submit</button>
		<div id="comments">
		</div>
	</div>
	<%- include("footer") -%>
	<script src="/script.js"></script>
	<script>
		var projects = <%- JSON.stringify(proj) -%>;
		renderClutter(projects)
	</script>
</body>

</html>
<!--<div class="comment">
				<div class="commentUser"><a href="/users/<user>"><user></a></div>
				<body>
			</div>-->