<!DOCTYPE html>
<%# Type: dynamic
		Catorgory: clutter %>
<html lang="en-US">

<head>
	<title>Clutter -- <%= cName %></title>
	<meta name="description" content="<%- cName -%> on Clutter">
	<meta name="title" content="Clutter -- <%- cName -%>">
	<%- include("headTag") -%>
	<%- include("socialClutters") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<a href="/users/<%- creator -%>"><%- creator -%></a>
		<h1><%- cName -%> </h1>
		<% if (remix) { %>
		Remixed from <a href="/clutters/<%- original -%>"><%- originalName -%></a> by <a href="/users/<%- originalCreator -%>"><%- originalCreator-%></a>
		<% } %>
		<%- include("player") -%><br>
		<span id="date">
			<%- dateP -%>
		</span> <a href="/edit/<%= id %>"><button>See Inside</button></a> <button onclick="embedDispaly('block')">Embed</button><br>
		<input type="text" id="commentBox"></input> <button>Submit</button>
		<div id="comments">
		</div>
	</div>
	<div id="embed">
		<div style="text-align:right"><button class="xOut" onclick="embedDispaly('none')">X</button></div>
		<input value="<iframe src='https://clutter.stevesgreatness.repl.co/embed/<%- id -%>' width='700' height='450'></iframe>" readonly id="embedHTML"><br><button onclick="copyText(document.getElementById('embedHTML'))">Copy Text</button>
	</div>
	<%- include("footer") -%>
	<script src="/script.js"></script>
	<script>
		//render
		var projects = <%- JSON.stringify(proj) -%>;
		renderClutter(projects)

		//embed
		function embedDispaly(value) {
			document.getElementById("embed").style.display = value
		}

		//text coping
		function copyText(element) {
			selectTxt(element)
			document.execCommand("copy")
		}
		function selectTxt(element) {
			element.select()
			element.setSelectionRange(0, 99999)
		}
	</script>
	<!--<div class="comment">
				<div class="commentUser"><a href="/users/<user>"><user></a></div>
				<body>
			</div>-->
</body>

</html>