<!DOCTYPE html>
<%# Type: dynamic
		Catorgory: clutter %>
<html lang="en-US">

<head>
	<% if (isPre == false) { %>
	<title>Clutter -- Create</title>
	<% } else { %>
	<title>Clutter -- Editing: <%= cName %></title>
	<% } %>
	<meta name="description" content="The Clutter editor">
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<!--Getting the player-->
	<%- include('player'); -%>
	<div class="contentEditor" id="content">
		<!--editing part of the editor-->
		<button onclick="submitClutter()">Run</button> <button onclick="addInput()">add</button> <button onclick="removeInput()">remove</button><br>
		<% if (!(isPre)) { %>
		<form id="projectIds" onsubmit="return false">
			<input type="text" placeholder="add link to a shared Scratch project."><br>
		</form>
		<% } else { %>
		<form id="projectIds" onsubmit="return false">
			<% for(var project in proj) { %>
				<input type="text" placeholder="add link to a shared Scratch project." value="https://scratch.mit.edu/projects/<%= proj[project] %>"><br>
			<% } %>
		</form>
		<% } %><br><br>
		<!--information about the project for sharing-->
		<% if (!(isPre)) { %>
		<button onclick="shareProject()">Share</button>
		<input type="text" id="clutterName" placeholder="Clutter Name">
		<input type="number" placeholder="Project's Thumbnail Shown" id="thumbnailNum" value="1">
		<% } else { %>
		<button onclick="shareProject()">Save</button>
		<a href="/clutters/<%= id %>"><button>See Page</button></a>
		<input type="text" id="clutterName" placeholder="Clutter Name" value="<%= cName %>">
		<input type="number" placeholder="Project's Thumbnail Shown" value="<%= thum %>" id="thumbnailNum">
		<% } %><br>
	</div>
	<script type="text/javascript" src="/script.js"></script>
	<script>
		<%# this changes depending on whether you're editing or changing a project %><% if (isPre == false) { %>console.log("creating a new clutter")<% } else { %>console.log("editing a pre-existing clutter")
		submitClutter()
		<% } %>
		function shareProject() {
			beforeunload(false)
			if (localStorage.getItem("user") == null|undefined) {
				alert("you must be logged in to share a project")
			} else {
				if (document.getElementById("clutterName").value|document.getElementById("thumbnailNum").value == '') { 
					alert("Error")
					return; 
				}
				let form = document.forms["projectIds"]
				let formData = Object.values(form)
				let formValues = []
				for (let i = 0; i < formData.length; i++) {
					if (formData[i]["value"].includes("https://scratch.mit.edu/projects/")) {
						let curdata = formData[i]["value"].substr(33, formData[i]["value"].length)
						if (checkForSlashTF(curdata)) {
							curdata = curdata.substr(0, curdata.length - 1)
						}
						formValues.push(curdata)
					} else {
						beforeunload(true)
						alert("Something doesn't seem right about the project at spot " + i + ". Please make sure it's a full project url.")
						return;
					}
				}
				let isEdit = false
				<% if (isPre) { %>
				if (checkLogin() == <%- JSON.stringify(creator) -%>) {
					isEdit = true
				}
				var originalId = <%- JSON.stringify(id) -%>
				<% } else { %>
				var originalId = null
				<% } %>
				var data = {
					name: document.getElementById("clutterName").value,
					thumb: document.getElementById("thumbnailNum").value - 1,
					included: formValues,
					creator: localStorage.getItem("user"),
					<% if (isPre) { %>remix: [true, <%- JSON.stringify(id) -%>, <%- JSON.stringify(creator) -%>, <%- JSON.stringify(cName) -%>]<% } else { %>remix: [false, "", "", ""]<% } %>,
					isEdit: isEdit,
					originalId: originalId
				}
				fetch("/post/clutter", {
					method: 'PUT',
					headers: { 'Content-Type':'application/json' },
					body: JSON.stringify(data)
				})
					.then(res => res.json())
					.then(data => {
						//console.log(data)
						location = "/clutters/" + data["id"]
					})
			}
		}
		function beforeunload(yesNo) {
			if (yesNo) {
				window.addEventListener('beforeunload', (unload) => {
  				unload.preventDefault()
			  	unload.returnValue = ''
				})
			} else {
				window.removeEventListener('beforeunload', (unload) => {
			  	delete unload["returnValue"]
				}, true)
			}
		}
		beforeunload(true)
	</script>
</body>

</html>