<!DOCTYPE html>
<%# Type: dynamic 
		Catorgory: home %>
<html lang="en-US">

<head>
	<title>Clutter -- Compile Scratch Projects</title>
	<meta name="title" content="Clutter -- Compile Scratch Projects">
	<meta name="description" content="Clutter is a program to compile Scratch projects">
	<%- include("headTag") -%>
	<%- include("social") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<div id="newsSection">
			<div id="news" class="block">
				<div class="head">
					Clutter News
				</div>
				<% news.forEach(elm => { %>
				<div class="newsBorder">
					<h1 class="projectNameHeading"><a href="<%- elm.link -%>"><%- elm.name -%></a></h1>
					<%- elm.body -%>
				</div>
				<% }) %>
			</div>
		</div>
		<div id="featured" class="block">
			<div class="head">
				Featured Clutters
			</div>
			<% for (let i = 0; i < featured.length; i++) { %>
			<div class="project">
				<a href="/clutters/1">
					<img src="/api/clutters/<%- featured[i]["id"] -%>/thumbnail.png" width="120" alt="<%- featured[i]["name"] -%>'s Thumbnail"><br>
					<%- featured[i]["name"] -%>
					</a><br>
					<a href="/users/<%- featured[i]["creator"] -%>" style="font-size:10px"><%- featured[i]["creator"] -%></a>
			</div>
			<% } %>
		</div>
		
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<!--clutter link:
	
	<div class="project">
		<a href="clutter-url">
			<img src="//uploads.scratch thumbnail-url" width="120"><br>
			Clutter-name
		</a><br>
		<a href="user-url">creator-name</a>
	</div>

	Project thumbnail url:
	https://uploads.scratch.mit.edu/projects/thumbnails/projID.png-->
</body>

</html>