<!DOCTYPE html>
<%# Type: dynamic 
		Catorgory: personal %>
<html lang="en-US">

<head>
	<title>Clutter -- My Stuff</title>
	<meta name="title" content="Clutter -- Compile Scratch Projects">
	<meta name="description" content="Clutter is a program to compile Scratch projects">
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<div id="my" class="block">
			<div class="head">
				My Stuff
			</div>
			<div id="clutters">
				<% if (clutters.length == 0) { %><h1>It seems that you've made no clutters.</h1><% } %>
				<% clutters.forEach(elm => { %>
				<a href="/clutters/<%- elm.id -%>">
					<img src="/api/clutters/<%- elm.id -%>/thumbnail.png" width="120">
					<h1 class="projectNameHeading"><%- elm.name -%></h1>
				</a>
				<img src="/img/views.svg" alt="views" width="16"> views: <%- elm.views -%>
				<% }) %>
			</div>
		</div>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
</body>

</html>