<!DOCTYPE html>
<%# Type: dynamic
		Catorgory: search %>
<html lang="en-US">

<head>
	<title>Clutter -- Searching: <%= q %></title>
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		Searching for <%- q -%>, found <%- returned.length -%><br>
		<% if (returned.length == 0) { %>
		Looks like what you searched for returned nothing...
		<% } else { %>
		<% returned.forEach(elm => { %>
		<div class="project">
				<a href="/clutters/1">
					<img src="/api/clutters/<%- elm["id"] -%>/thumbnail.png" width="120" alt="<%- elm["name"] -%>'s Thumbnail"><br>
					<%- elm["name"] -%>
					</a><br>
					<a href="/users/<%- elm["creator"] -%>" style="font-size:10px"><%- elm["creator"] -%></a>
			</div>
		<% }) %>
		<% } %>
	</div>
	<%- include("footer") -%>
	<script src="/script.js"></script>
	<script>
		const query = <%- JSON.stringify(q) -%>;
		document.getElementById("searchText").value = query
	</script>
</body>

</html>