<!DOCTYPE html>
<%# Type: dynamic
		Catorgory: user %>
<html lang="en-US">

<head>
	<title>Clutter -- @<%- name -%></title>
	<meta name="title" content="Clutter -- @<%- name -%>">
	<meta name="description" content="A Clutter user">
	<%- include("headTag") -%>
</head>

<body>
	<%- include("header") -%>
	<div id="content">
		<a target="_new" id="userLink" title="Link to Scratch" href="//scratch.mit.edu/users/<%- name -%>">
		<table>
			<tr><td><img src="/api/users/<%- name -%>/avartar.png" id="userAvatar"></td><td id="userName"><%- name -%></td></tr>
		</table>
		</a>
		<button class="follow" follow="false">Follow</button><br><br>
		<!--<div class="block" style="display: inline-block;"><div class="head">Featured Clutter</div></div><br><br>-->
		<% if (made.length !== 0) { %><div id="newest" class="block" style="width: fit-content;">
			<div class="head">
				Newest Clutter
			</div>
			<div id="newestClutter" class="project">
				<a href="/clutters/<%- made[made.length - 1]["id"] -%>">
					<img src="/api/clutters/<%- made[made.length - 1]["id"] -%>/thumbnail.png" width="120" alt="<%- made[made.length - 1]["name"] -%>'s Thumbnail"><br>
					<%- made[made.length - 1]["name"] -%>
					</a><br>
					<a href="/users/<%- made[made.length - 1]["creator"] -%>" style="font-size:10px"><%- made[made.length - 1]["creator"] -%></a>
			</div>
		</div><br><% } %>
		<div id="clutters" class="block">
			<div class="head">
				Clutters
			</div>
			<% for (let i = 0; i < made.length; i++) { %><div class="project">
				<a href="/clutters/<%- made[i]["id"] -%>">
					<img src="/api/clutters/<%- made[i]["id"] -%>/thumbnail.png" width="120" alt="<%- made[i]["name"] -%>'s Thumbnail"><br>
					<%- made[i]["name"] -%>
					</a><br>
					<a href="/users/<%- made[i]["creator"] -%>" style="font-size:10px"><%- made[i]["creator"] -%></a>
			</div><% } %>
			<% if (made.length === 0) { %>
				This user hasn't made any Clutters yet.
			<% } %>
		</div>
	</div>
	<%- include("footer") -%>
	<script type="text/javascript" src="/script.js"></script>
	<script type="text/javascript">
		let followButton = document.getElementsByClassName("follow")[0]
		let followedPeople = JSON.parse(localStorage.getItem("follows"))
		if (followedPeople.includes(<%- JSON.stringify(name) -%>)) {
			followButton.innerHTML = "Unfollow"
			followButton.className = "follow un"
			followButton.setAttribute("follow", "true")
		}
		followButton.onclick = () => {
			if (followButton.getAttribute("follow") == "true") {
				followButton.innerHTML = "Follow"
				followButton.className = "follow"
				followButton.setAttribute("follow", "false")
			} else {
				followButton.innerHTML = "Unfollow"
				followButton.className = "follow un"
				followButton.setAttribute("follow", "true")
			}
			follow(<%- JSON.stringify(name) -%>)
		}
	</script>
</body>

</html>